<h1>Histórico de rastreio</h1>
<p>Código: <%= @object.number %></p>
<p>Data: <%= @object.events.first.date %></p>
<p>Hora: <%= @object.events.first.hour %></p>
<p>Local: <%= @object.events.first.place %></p>
<p>Descrição: <%= @object.events.first.description %></p>