<p id="notice"><%= notice %></p>

<p>
  <strong>Descricao:</strong>
  <%= @historico.descricao %>
</p>

<p>
  <strong>Datahora:</strong>
  <%= @historico.datahora %>
</p>

<p>
  <strong>Situacao:</strong>
  <%= @historico.situacao %>
</p>

<%= link_to 'Edit', edit_historico_path(@historico) %> |
<%= link_to 'Back', historicos_path %>
